body {
    margin: 0;
    color: #333;
    min-width: 770px;
    background: #fff;
    font: 10px/12px verdana, geneva, sans-serif;
}
/* General reset */

form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

img {
    border-style: none;
}

input,
select,
textarea {
    vertical-align: middle;
    font: 100% arial, helvetica, sans-serif;
}

a {
    color: #f00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* General settings */

#wrapper {
    width: 770px;
    margin: 0 auto;
}

#header {
    background: url(../img/bg-header.png) no-repeat;
    width: 747px;
    overflow: hidden;
    padding: 8px 23px 0 0;
}

.nav-header {
    margin: 0;
    padding: 0 0 166px 0;
    list-style: none;
    float: right;
}

.nav-header li {
    margin: 0;
    padding: 0 0 0 41px;
    float: left;
}

.nav-header li a {
    color: #333;
    font-weight: bold;
}

.nav-header li a:hover,
.nav-header li a.active {
    color: #393;
    text-decoration: underline;
}

.sprites-holder {
    width: 100%;
    overflow: hidden;
}

.nav-icon {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.nav-icon li {
    margin: 0;
    padding: 0;
    float: left;
    padding-left: 27px;
}

.nav-icon li a {
    display: block;
    height: 11px;
    width: 11px;
    background: url(../img/sprites.png) no-repeat 0 0;
}

.nav-icon li a.cart {
    width: 14px;
    background-position: 0 0;
}

.nav-icon li a.cart:hover,
.nav-icon li a.active {
    background-position: 0 -11px;
}

.nav-icon li a.mail {
    background-position: -14px 0;
}

.nav-icon li a.mail:hover {
    background-position: -14px -11px;
}

.nav-icon li a.home {
    background-position: -25px 0;
}

.nav-icon li a.home:hover {
    background-position: -25px -11px;
}

.nav-icon li a.search {
    background-position: -36px 0;
}

.nav-icon li a.search:hover {
    background-position: -36px -11px;
}

#main {
    padding: 13px 0 0 0;
    overflow: hidden;
    width: 100%;
}

.sidebar {
    width: 218px;
    float: left;
}

.nav-sidebar {
    margin: 0;
    padding: 0 0 102px 25px;
    list-style: none;
}

.nav-sidebar li {
    margin: 0;
    padding: 6px 0 7px 23px;
    background: url(../img/sprites-sidebar-black.png) no-repeat 0 50%;
}

.nav-sidebar li:hover {
    background: url(../img/sprites-sidebar-green.png) no-repeat 0 50%;
}

.nav-sidebar li a {
    color: #333;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
}

.nav-sidebar li a:hover,
.nav-sidebar li a.active {
    color: #393;
    text-decoration: underline;
}

.img-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

li a img {
    width: 139px;
    height: 100px;
}

.content {
    padding-top: 5px;
    width: 529px;
    float: left;
    padding-right: 23px;
}

.content-section img {
    float: left;
    margin: 0;
    padding: 0;
    width: 180px;
    height: 246px;
    margin-right: 33px;
}

.content-section {
    float: left;
    overflow: hidden;
    margin-bottom: 16px;
}

.content-section h2 {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: #393;
    margin-bottom: 12px;
}

.content-section p {
    padding: 0;
    margin-bottom: 12px;
}

.content-section a {
    float: right;
    color: #393;
    font-weight: bold;
    margin-top: 4px;
    text-decoration: underline;
}

.content-section a:hover {
    text-decoration: none;
}

#footer {
    font-family: tahoma, geneva, sans-serif;
    width: 747px;
    color: white;
    background-color: #000;
    text-align: right;
    padding: 6px 23px 7px 0;
}